/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.home-events-wrapper {
  background-color: $light-gray;
  padding-bottom: 20px;
}

.title {
  text-align: center;
  padding-bottom: 6px;
  padding-right: 15px;
  padding-left: 15px;
}

.search-form {
  .btn {
    @media (max-width: $screen-sm-max) {
    width: 100%;
    }

  }
}

.search-input {
  @media (max-width: $screen-sm-max) {
    width: 100%;
  }
  height: 38px;
  border-radius: 3px;
  // border: solid;
  border-width: 0.5px;
  padding-left: 10px;
  min-width: 35vh;
  margin: 0px;
  display: inline-block;
}

.home-navbar-margin {
   @media (max-width: $screen-sm-max) {
    margin-top: 70px;
  }
}





// select#search-category.search-input{
//   height: 42px;
//     border-radius: 7px;
//     border: solid;
//     border-width: 1px;
// }
