<div class="container fullscreen">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-login home-navbar-margin">
        <h1>Sign up as an organizer</h1>
            <%= render 'edit_new_organizer'%>
      </div>
    </div>
  </div>
</div>
