<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12 ">
          <p><strong> Sponticus </strong></p>
            <ul>
              <li><%= link_to "Find a sponti Event",  events_path %></li>
              <% if current_user %>
                <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %>  </li>
              <% else %>
                <li> <%= link_to "Login", new_user_session_path %> </li>
              <% end %>


            </ul>
        </div>
          <div class="col-md-3 col-xs-12 ">
            <p><strong> Become a Partner </strong></p>
            <ul>
              <li> something </li>
              <li> something else</li>

            </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

