

<div class="container fullscreen">
  <div class="row">
    <div class="col-xs12 col-sm-6 col-sm-offset-3">

      <div class="form-login home-navbar-margin">
        <% if current_user.organizer %>
          <h1>Edit Event</h1>

          <%= render 'new_edit_event' %>

      <%else%>
      <p>In order to register an event, you have have an Organizer Account.</p>
      <p> How can you sign upo as Organizer?</p>
      <ul>
        <li>First. <%= link_to "Logout",  destroy_user_session_path, method: :delete %></li>
        <li>Then go to Signup and Register a new user and check the "I am an organizer" Box</li>
      </ul>
      <%end%>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=#{ENV['GOOGLE_API_BROWSER_KEY']}"></script>
<% end %>
