


<div class="container fullscreen">
  <div class="row">
    <div class="col-xs12 col-sm-6 col-sm-offset-3">

      <div class="form-login home-navbar-margin">
        <% if current_user.organizer %>
          <h1>New Event</h1>
          <%= render 'new_edit_event' %>
      <%else%>
      <p>In order to register an event, you have have an Organizer Account.</p>
      <p> How can you sign up as Organizer?</p>
      <p>Just click on the list and turn your account int an organizer-account</p>
      <%= link_to "Become an Organizer", new_organizer_path%>
      <%end%>
      </div>
    </div>
  </div>
</div>

<%#= content_for(:after_js) do %>
  <!-- <script src="https://maps.google.com/maps/api/js?libraries=places&sensor=false&key=#{ENV['GOOGLE_API_BROWSER_KEY']}"></script> -->
<%# end %>
