


html {
  height: 100%
}

body {
  @media (max-width: 978px) {
    padding:0 !important;
  }
  padding-top: 70px;
  height: 100%;
}

p {
  color: $dark;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25px;
  // text-align: left;
}

li {
  color: $dark;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25px;
}

span {
  color: $dark;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25px;
}

h1 {
  color: $midnight;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 23px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  color: $midnight;
}

h3 {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  color: $boat;
}

h4 {
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: $bleu;
}

h5 {
  color: $medium;
  line-height: 25px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h6 {
  font-size: 15px;
  color: $light-gray;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.white {
  color: white;
}

