.banner {
  color: #011936;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}


.banner-content {
  background-color: rgba(237,145,145,0.71);
  padding: 20px

}

.search-input {
  color: grey;
  margin-bottom: 5px;
  width: 40vh;
}

.ul-small {
  padding-left: 18px;
  font-size: 12px;
}

.p-small-dark {
  font-size: 12px;
  color: #011936;
  margin-top: 12px;

}

.col-margin-top{
  margin-top: 5px;
}
