.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-top: 5px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

// .detail-box {
//   display: grid;
//   grid-template-columns: 100px 1fr;
//   grid-template-rows: 25% 75%;
// }

// .calendar-box {
//     background: #ffffff;
//     color: #666666;
//     width: 50px;
//     text-align: center;
//     font-size: 20px;
//     line-height: 30px;
//     font-weight: bold;
//     padding: 0;
//     // float: left;

// }

// .calendar-month {
//   // display: block;
//   background: #fa565a;
//   font-size: 10px;
//   line-height: 8px;
//   font-weight: bold;
//   padding: 5px 0;
//   margin: 0px 0 0 0;
//   text-transform: uppercase;
//   color: #ffffff;
//   border-top: 1px solid #fa565a;
//   grid-row: 1 / span 1;
//   grid-column: 1 / span 1;

// }

// .calendar-day {
//   border-width: 0 1px 1px 1px;
//     border-style: solid;
//     border-color: #ddd;
//     border-bottom-left-radius: 3px;
//     font-weight: 300;
//     font-size: 26px;
//     line-height: 31px;
//     grid-row: 2 / span 1;
//     grid-column: 1 / span 1;
// }


// .event-local-box {
//     background: #f8f8f8;
//     color: #666666;
//     font-family: 'Open Sans', sans-serif;
//     color: #50525f;
//     font-size: 10px;
//     font-weight: 400;
//     padding: 5px 5px 5px 10px;
//     border-width: 1px 1px 1px 0;
//     border-style: solid;
//     border-color: #ddd;
//     border-bottom-right-radius: 3px;
//     text-align: left;
//     // flex-grow: 1;
//     grid-row: 1 / span 2;
//     grid-column: 2 / span 1;
// }

.detail-box {
  display: flex;
  height: 87px;
}

.calendar-box {
    background: #ffffff;
    color: #666666;
    width: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    padding: 0;
    // float: left;
    flex: 0 0 20%;
    border-style: solid;
    border-color: #ddd;
    border-bottom-left-radius: 3px;
    // line-height: 31px;
    border-width: 0 1px 1px 1px;
}

.calendar-month {
  display: block;
  background: #fa565a;
  font-size: 10px;
  line-height: 8px;
  font-weight: bold;
  padding: 5px 0;
  margin: 0px 0 0 0;
  text-transform: uppercase;
  color: #ffffff;
  border-top: 1px solid #fa565a;

}

.calendar-day {
  border-width: 0 1px 1px 1px;

    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
}

.event-local-box {
    background: #f8f8f8;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    color: #50525f;
    font-size: 10px;
    font-weight: 400;
    padding: 5px 5px 5px 10px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
    border-bottom-right-radius: 3px;
    text-align: left;
    flex-grow: 1;
}



.line {
    overflow: hidden;
    max-height: 15px;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.no-margin {
  margin: 0;
}

.bold {
  font-weight: bold;
}























